---
//Layouts
import BaseLayout from '../layouts/BaseLayout.astro';
//Components
import LogoSection from '../components/LogoSection.astro';
import Logo from '../components/Logo.astro';
//Pages



---

<BaseLayout title=" ">
	<main class="w-screen overflow-hidden md:w-[48rem] m-auto">

		<LogoSection section_title="Java Script">
			<Logo link="https://javascript.info/" site="JS.info"/>
			<Logo link="https://www.typescriptlang.org/" site="TS"/>
			<Logo link="https://vuejs.org/" site="Vue"/>
			<Logo link="https://svelte.dev/" site="Svelte"/>
			<Logo link="https://reactjs.org/" site="React"/>
			<Logo link="https://www.solidjs.com/" site="Solid"/>
			<Logo link="https://preactjs.com/" site="Preact"/>
			<Logo link="https://alpinejs.dev/" site="Alpine"/>
		</LogoSection>

		<LogoSection section_title="Css">
			<Logo link="https://sass-lang.com/" site="Sass"/>
			<Logo link="https://tailwindcss.com/" site="Tailwind"/>
			<Logo link="https://getbootstrap.com/" site="BootStrap"/>
			<Logo link="https://bulma.io/" site="Bluma"/>
			<Logo link="https://turretcss.com/" site="Turret"/>
			<Logo link="https://jenil.github.io/chota/" site="Chota"/>
			<Logo link="https://picocss.com/" site="Pico"/>
		</LogoSection>
		
		<LogoSection section_title="Rust">
			<Logo link="https://www.rust-lang.org/" site="Rust"/>
			<Logo link="https://doc.rust-lang.org/book/" site="Book"/>
			<Logo link="https://doc.rust-lang.org/stable/rust-by-example/" site="Example"/>
			<Logo link="https://actix.rs/" site="ActixWeb"/>
		</LogoSection>

		<LogoSection section_title="Go">
			<Logo link="https://go.dev/" site="Go"/>
			<Logo link="https://gohugo.io/" site="Hugo"/>

		</LogoSection>

		<LogoSection section_title="Nim">
			<Logo link="https://nim-lang.org/" site="Nim"/>

		</LogoSection>

		<LogoSection section_title="Php">
			<Logo link="https://www.php.net/" site="Php"/>
			<Logo link="https://laravel.com/" site="Laravel"/>
			<Logo link="https://symfony.com/" site="Symfony"/>
			<Logo link="https://cakephp.org/" site="CakePHP"/>
			<Logo link="https://codeigniter.com/" site="Cigniter"/>

		</LogoSection>

		<LogoSection section_title="Data Base">
			<Logo link="https://surrealdb.com/" site="SurrealDB"/>
			<Logo link="" site="SAMPLE"/>

		</LogoSection>

		<LogoSection section_title="Search Engine">
			<Logo link="https://google.com" site="Google"/>
			<Logo link="https://duckduckgo.com/" site="DDGo"/>
			<Logo link="https://yandex.ru/" site="Yandex"/>
		</LogoSection>


		<LogoSection section_title="Cross Platform">
			<Logo link="https://www.electronjs.org/" site="Electron"/>
			<Logo link="https://tauri.app/" site="Tauri"/>
			<Logo link="https://www.gtk.org/" site="Gtk"/>
			<Logo link="https://www.qt.io/" site="Qt"/>
			<Logo link="https://flutter.dev/" site="Flutter"/>
			<Logo link="https://wxwidgets.org/" site="wxW"/>

		</LogoSection>

		<LogoSection section_title="Sample">
			<Logo link="" site="SAMPLE"/>
		</LogoSection>

		<LogoSection section_title="Sample">
			<Logo link="" site="SAMPLE"/>
		</LogoSection>

		<LogoSection section_title="Sample">
			<Logo link="" site="SAMPLE"/>
		</LogoSection>
		
		<LogoSection section_title="Sample">
			<Logo link="" site="SAMPLE"/>
		</LogoSection>

		<LogoSection section_title="Sample">
			<Logo link="" site="SAMPLE"/>
		</LogoSection>
	</main>
</BaseLayout>



